*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'open sans';
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


/*Cabecera*/
header{
  width: 100%;
  height: 350px;
  background-image: url(img/concentrado-gr.png);
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
header .textos{
  margin-top: 7px;
}
header .titulo{
  font-size: 85px;
}
header .subtitulos{
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}
header .boton{
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}
.sesgoabajo{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 30vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.sesgoarriba{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 30vh 100vw 0 0 ;
  border-style: solid;
  border-color: #fff transparent transparent  transparent;
}


/*Barra social vertical */
*{
    margin: 0;
    padding: o;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  .social{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
  }
  .social ul{
    list-style: none;
  }
  .social ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
  }
  .social ul li .icon-facebook2{
    background:#3b5998 ;
  }
  .social ul li .icon-twitter{
    background:#00abf0 ;
  }
  .social ul li .icon-linkedin{
    background:#0e76a8 ;
  }
  .social ul li .icon-instagram{
    background:#d95232 ;
  }
  .social ul li .icon-whatsapp{
    background:#128C7E;
  }
  .social ul li .icon-mail{
    background:#666666 ;
  }
  .social ul li a:hover{
    padding: 10px 30px;
    background:#0AAEFE;
  }
  #mainNav {
    background-color: #212529;
    }
    #mainNav .navbar .navbar-expand-lg navbar-dark fixed-top {
      background-color: #212529;
    }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #212529;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: #212529;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529 !important;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
    
